/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2017, 9:09:01 PM
    Author     : Aleksandr
*/

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

body {
    background: url("https://lh3.googleusercontent.com/4e1LotWOODH6K2PnBQmvinSgEbm-hS72vA2cMMgah_5t8DOAWfV1eO3xLzwrXQMbE28jOwa0at37_n3BMi18Z5h_9XdRMoDMAQMFm8HYhz24TqalGp4H7-ukx68vqFflUe0-w-JX-r2hGrOvQOn2fcgBkQeonMcYwKjwLD_dn9CWPuWN4loudd8-EPQ5Z-3Xyek56hg3rsren438qyKsdPzD2HNtfCT596POMfwJ_dZOMPl52Sv0Ry59nMUbUDAzcgNA7MwMqE20FtlTf-vtSyROLk6-vbL6f7ChaJINHJflZ5JDgjSAQE1aUKcar7DItDHqHNcui5h8srDCjnittdTNAfzTTzvOBpEy6W6TsDBlaMAc7NBCggwQUmTnPyozlnj6_bD2Rm2rXv88nU-RXK_6BU9XBn-9uUx9JKdDeAwE5OL7ZnxoQiaeHmbke1rDyrmuFiUR4zxc4YeXVGiAft9zJ7OY59ox5jqFqGjtQqeoMSkT19Pn6G9SHB3jd3PHZQV3_fWo6L7Qc12D1YTz1OWx_QLtx7nRuXBoysQKlvQEwMC7BxsDw_6pg186kafcdET7UTFlBP-WQPz6kPCx2QolKaC3r-mKzs_qkSA=w2400-h1600-no") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align:center;
    color: black;
    font-size: 80px;
    margin-top: 15vw;
    font-weight: bold;
    font-family: 'Berkshire Swash', cursive;
}

.btnGroup {
    margin-top: 3vw;
}

.btn-huge{
    padding-top:12px;
    padding-bottom:12px;
}

@media only screen and (max-width: 1004px) {
    h1 {
        text-align:center;
        /*color: white;*/
        font-size: 45px;
        margin-top: 10vw;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        text-align:center;
        /*color: white;*/
        font-size: 35px;
        margin-top: 10vw;
    }
    
    .buttonDiv {
        margin-top: 7px;
    }
    
    .btn-huge{
        padding-top:7px;
        padding-bottom:7px;
    }
}

@media only screen and (max-width: 512px) {
    h1 {
        text-align:center;
        /*color: white;*/
        font-size: 25px;
        margin-top: 10vw;
    }
}



