/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
     /*height: 100%;*/
    /*background-repeat: no-repeat;*/
    background: url("https://lh3.googleusercontent.com/4e1LotWOODH6K2PnBQmvinSgEbm-hS72vA2cMMgah_5t8DOAWfV1eO3xLzwrXQMbE28jOwa0at37_n3BMi18Z5h_9XdRMoDMAQMFm8HYhz24TqalGp4H7-ukx68vqFflUe0-w-JX-r2hGrOvQOn2fcgBkQeonMcYwKjwLD_dn9CWPuWN4loudd8-EPQ5Z-3Xyek56hg3rsren438qyKsdPzD2HNtfCT596POMfwJ_dZOMPl52Sv0Ry59nMUbUDAzcgNA7MwMqE20FtlTf-vtSyROLk6-vbL6f7ChaJINHJflZ5JDgjSAQE1aUKcar7DItDHqHNcui5h8srDCjnittdTNAfzTTzvOBpEy6W6TsDBlaMAc7NBCggwQUmTnPyozlnj6_bD2Rm2rXv88nU-RXK_6BU9XBn-9uUx9JKdDeAwE5OL7ZnxoQiaeHmbke1rDyrmuFiUR4zxc4YeXVGiAft9zJ7OY59ox5jqFqGjtQqeoMSkT19Pn6G9SHB3jd3PHZQV3_fWo6L7Qc12D1YTz1OWx_QLtx7nRuXBoysQKlvQEwMC7BxsDw_6pg186kafcdET7UTFlBP-WQPz6kPCx2QolKaC3r-mKzs_qkSA=w2400-h1600-no") no-repeat center center fixed; 
    font-family: 'Oxygen', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main{
 	margin-top: 10vw;
}

h1.title { 
	text-align:center;
        color: black;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Berkshire Swash', cursive;
}

hr{
	width: 10%;
	color: #fff;
}


input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
        margin: 0 auto;
 	margin-top: 20px;
 	max-width: 450px;
        padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.register-button{
	margin-top: 5px;
}

.login-register{
        margin-top:10px;
	font-size: 12px;
	text-align: center;
}

@media only screen and (max-width: 1004px) {

}

@media only screen and (max-width: 768px) {
    .main-center{
 	max-width: 350px;


    }
}

@media only screen and (max-width: 512px) {
    .main-center{
        max-width: 250px;
    }
}   
